<!DOCTYPE html>
<html lang="en">
{% extends 'sis/base.html' %}
{% load staticfiles %}
{% block content %}
<body>
    <div class="page-container">

           <h2 class="top-menu">Learn Fast</h2>
    </div>
        <div class="content container">
           <div class="row">
               <div class="col-md-20">
                   <div class="links">
                       <!-- Example row of columns -->
                       <div class="row">
                           <div class="col-md-7">
                               <p>Are you in search of a tutor in the Omaha area who can provide expert
                                   <br>guidance when it comes to boosting your grades and building your
                                   <br>confidence? You can count on LearnFast's friendly tutors to design
                                   <br>personalized, interactive and engaging lessons that equip you with
                                   <br>the tools needed to succeed — in school and beyond. At LearnFast,
                                   <br>we understand that a rewarding, engaging learning environment can be the
                                   <br>difference between frustrating knowledge gaps and a sense of accomplishment.
                                   <br>So contact us today and arrange the affordable, personalized
                                   <br>tutoring you deserve!</p>
                               <br>
                               <p>LearnFast's Omaha area tutors have seen, and continue to see, just how much
                                   <br>of a positive impact personal tutoring can make. That's why we assess every
                                   <br>student's individual needs and goals before producing a unique tutoring program
                                   <br>that is frequently updated so it always motivating, engaging and challenging
                                   <br>as well as free of frustration. Armed with the latest tools, techniques, and
                                   <br>technologies, we create an atmosphere of learning that is engaging and never
                                   <br>dull. (No repetitive drills here!) You can rest assured the skills you build
                                   <br>will make a big impact in the classroom and beyond.</p>
                           </div>
                           <div class="col-md-4">
                               <div class="thumbnail">
                                   <img class="home_image" src="{% static 'image/tutoring.png' %}" alt="tutoring"/>
                                   <div class="caption">
                                       <p>We see our success in the success of our students.</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
</body>
{% endblock %}
</html>