<!DOCTYPE html>
<html lang="en">
{% extends 'sis/tutor_base.html' %}
{% load staticfiles %}
{% block content %}
    <body>
        {% if user.is_authenticated %}
            <div class="container">
                <h2 class="top-menu">Hello {{ user.username }},</h2>
                <p>Please choose from below options.</p>
            </div>
        {% endif %}
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    <div class="links">
                        <!-- Example row of columns -->
                        <div class="row">
                        	<div class="col-md-3">
								<div class="thumbnail" style="border: none">
							    	<a href="{% url 'sis:tutor_dashboard'%}"><img src="{% static "image/dashboard.png" %}" style="height: 225px; width: 225px;" alt="dashboard"/></a>
							        	<div class="caption">
							            	<a href="{% url 'sis:tutor_dashboard'%}"> <h3>Dashboard</h3></a>
							            </div>
							     </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail" style="border: none">
                                    <a href="{% url 'sis:tutor_courses'%}"><img src="{% static "image/AllClasses.jpg" %}" style="height: 225px; width: 225px;" alt="AllClasses"/></a>
                                    <div class="caption">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'sis:tutor_courses'%}"> <h3>All Classes</h3></a>
										   <!--<p><a class="btn btn-default" href="{% url 'sis:tutor_courses'%}" role="button">Click to View Classes &raquo;</a></p>-->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail" style="border: none">
                                    <a href="{% url 'sis:tutor_rosters' %}"><img src="{% static "image/students.jpg" %}" style="height: 225px; width: 225px;" alt="AllStudents"/></a>
                                    <div class="caption">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'sis:tutor_rosters'%}"> <h3>All Students</h3></a>
                                            <!--<p><a class="btn btn-default" href="{% url 'sis:tutor_rosters'%}" role="button">Click to View Students &raquo;</a></p>-->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail" style="border: none">
                                    <a href="{% url 'sis:tutor_wage'%}"><img src="{% static "image/Payment.jpg" %}" style="height: 225px; width: 225px;" alt="Tutor Wage"/></a>
                                    <div class="caption">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'sis:tutor_wage'%}"> <h3>My Wages</h3></a>
											<!--<p><a class="btn btn-default" href="{% url 'sis:tutor_wage'%}" role="button">Click to View Wages &raquo;</a></p>-->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}


</html>
